<h1>HOME PAGE</h1>

<form action="/results" method="post">
  <label for="user-word">Please enter a date: </label>
  <input type="text" name="user-word" placeholder="Cat, or Dog, or Epicodus">
  <button type="submit">Determine Day</button>
</form>
